img{
    width: 30%;
    float: left;
    margin: 1.66%;}
    p{
        font-family: new tegomin;
        color: rgba(226, 178, 19, 0.829);
        margin-left: 1.6%;
        font-size: 40px;
        text-transform: uppercase;
        border-bottom: 3px solid rgb(5, 205, 255);
        width: 30%;
        padding-bottom: 20px ;
    }